<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
</head>

<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'categories_create' %}">Create Expense Category</a>
            </li>
            <li>
                <a href="{% url 'categories_list' %}">Expense Categories</a>
            </li>
            <li>
                <a href="{% url 'accounts_create' %}">Create Account</a>
            </li>
            <li>
                <a href="{% url 'accounts_list' %}">Accounts</a>
            </li>
            <li>
                <a href="{% url 'receipts_create' %}">Create Receipt</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>

</html>