{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Create New Receipt</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create Receipt</button>
    </form>
</main>

{% endblock content %}